0 21  * * 2,5  /home/pi/git/home-cluster/nico/start-backup.sh >> /home/pi/cronlog.log
0 3   * * 1    sudo apt get update && sudo apt get upgrade -y
*/30  * * * *  /home/pi/git/home-cluster/nico/wireguard-ping.sh
0 1   * * 3,6  /home/pi/git/home-cluster/nico/external-apps-backup.sh >> /home/pi/cronlog.log

