0 21  * * 2,5  /home/pi/git/home-cluster/nico/start-backup.sh >> /home/pi/cronlog.log
0 3   * * 1    sudo apt get update && sudo apt get upgrade -y
0 0   2 * *    sudo reboot
*/30 * * * *   /home/pi/git/home-cluster/nico/wireguard-ping.sh
0 1 */15 * *   /home/pi/git/home-cluster/nico/pihole-backup.sh 
0 1 */17 * *   /home/pi/git/home-cluster/nico/pivpn-backup.sh 
